
<div class="container text-center">
  <h1>NG Bootstrap</h1>
</div>
<br>
<div class="container text-center">
  <a  routerLink = "/accordion" class="btn mr-5 btn-dark text-white" >Accordian</a>
  <a  routerLink = "/carousel" class="btn mr-5 btn-dark text-white">Carousel</a>
  <a  routerLink = "/popover" class="btn mr-5 btn-dark text-white">Popover</a>
  <a  routerLink = "/typeahead" class="btn mr-5 btn-dark text-white">Typeahead</a>
  <a  routerLink = "/modal" class="btn mr-5 btn-dark text-white">Modal</a>
</div>
<br>

<div class="container">
  <router-outlet></router-outlet>
</div>


